/**************************/
/***                    ***/
/**        ШРИФТЫ        **/
/***                    ***/
/**************************/

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto Regular"), local("Roboto-Regular"),
    url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
}

/**************************/
/***                    ***/
/**    VISUALLY-HIDDEN   **/
/***                    ***/
/**************************/

.visually-hidden:not(:focus):not(:active) {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
  white-space: nowrap;
}

/**************************/
/***                    ***/
/**      ПЕРЕМЕННЫЕ      **/
/***                    ***/
/**************************/

:root {
  --basic-black: #000000;
  --basic-green: #00ca74;
  --basic-green-dark: #00bc6c;
  --basic-green-darken: #00aa62;
  --basic-red: #fb565a;
  --basic-red-dark: #e74246;
  --basic-red-darken: #d7373b;
  --basic-white: #ffffff;
  --basic-yellow: #efc84a;
  --basic-yellow-dark: #eab534;
  --basic-yellow-darken: #e5a722;

  --special-black-bright: #231f20;
  --special-black-light: #283136;
  --special-black-lighten: #444444;
  --special-gray: #a6a6a6;
  --special-gray-dark: #666666;
  --special-gray-darken: #4d4d4d;
  --special-gray-dim: #d5d5d5;
  --special-gray-foggy: #dbdbdb;
  --special-gray-light: #e1e1e1;
  --special-gray-lighten: #eeeeee;
  --special-gray-shadowy: #dfdfdf;
}

/**************************/
/***                    ***/
/**         PAGE         **/
/***                    ***/
/**************************/

.page__body {
  min-width: 1200px;

  font-family: "Roboto", Arial, sans-serif;

  background-color: var(--basic-white);
}
