/**************************/
/***                    ***/
/**        ШРИФТЫ        **/
/***                    ***/
/**************************/

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto Regular"), local("Roboto-Regular"),
    url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
}

/**************************/
/***                    ***/
/**    VISUALLY-HIDDEN   **/
/***                    ***/
/**************************/

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
  white-space: nowrap;
}

/**************************/
/***                    ***/
/**      ПЕРЕМЕННЫЕ      **/
/***                    ***/
/**************************/

:root {
  --basic-black: #000000;
  --basic-black-opacity-30: rgba(0, 0, 0, 0.3);
  --basic-black-opacity-60: rgba(0, 0, 0, 0.6);
  --basic-black-light: #283136;
  --basic-green: #00ca74;
  --basic-green-dark: #00bc6c;
  --basic-green-darken: #00aa62;
  --basic-grey: #eeeeee;
  --basic-red: #fb565a;
  --basic-red-dark: #e74246;
  --basic-red-darken: #d7373b;
  --basic-white: #ffffff;
  --basic-white-opacity-30: rgba(255, 255, 255, 0.3);
  --basic-yellow: #efc84a;
  --basic-yellow-dark: #eab534;
  --basic-yellow-darken: #e5a722;

  --special-black-bright: #231f20;
  --special-black-lighten: #444444;
  --special-grey: #a6a6a6;
  --special-grey-dark: #666666;
  --special-grey-darken: #4d4d4d;
  --special-grey-dim: #d5d5d5;
  --special-grey-foggy: #dbdbdb;
  --special-grey-light: #e1e1e1;
  --special-grey-shadowy: #dfdfdf;

  --button-background-color: var(--basic-red);
  --button-border-color: var(--basic-red-dark);
  --button-color: var(--basic-white);
}

/**************************/
/***                    ***/
/**         PAGE         **/
/***                    ***/
/**************************/

.page__body {
  min-width: 1200px;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--basic-black);

  background-color: var(--basic-white);
}

.page__title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
}

/**************************/
/***                    ***/
/**        BUTTON        **/
/***                    ***/
/**************************/

.button {
  display: inline-block;
  box-sizing: border-box;
  min-height: 50px;
  margin: 0;
  padding: 16px;
  border-color: var(--button-border-color);
  border-radius: 3px;

  font-family: inherit;
  font-weight: 500;
  line-height: 18px;
  color: var(--button-color);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  background-color: var(--button-background-color);
}

.button:hover {
  --button-background-color: var(--basic-red-dark);
}

.button:active {
  --button-background-color: var(--basic-red-darken);
  --button-color: var(--basic-white-opacity-30);

  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.button--green {
  --button-background-color: var(--basic-green);
  --button-border-color: var(--basic-green-dark);
}

.button--green:hover {
  --button-background-color: var(--basic-green-dark);
}

.button--green:active {
  --button-background-color: var(--basic-green-darken);
}

.button--yellow {
  --button-background-color: var(--basic-yellow);
  --button-border-color: var(--basic-yellow-dark);
}

.button--yellow:hover {
  --button-background-color: var(--basic-yellow-dark);
}

.button--yellow:active {
  --button-background-color: var(--basic-yellow-darken);
}

.button--grey {
  --button-background-color: var(--basic-grey);
  --button-border-color: var(--special-grey-foggy);
  --button-color: var(--basic-black);
}

.button--grey:hover {
  --button-background-color: var(--special-grey-shadowy);
  --button-color: var(--basic-black);
}

.button--grey:active {
  --button-background-color: var(--special-grey-dim);
  --button-color: var(--basic-black-opacity-30);
}

.button--current {
  --button-background-color: var(--basic-white);
  --button-color: var(--basic-black);

  border-width: 3px;
  border-style: solid;
}

.button--current:hover {
  --button-background-color: var(--basic-white);
  --button-color: var(--basic-black);
}

.button--current:active {
  --button-background-color: var(--basic-white);
  --button-color: var(--basic-black);

  box-shadow: none;
}

.button--text-white:active {
  --button-color: var(--basic-white);
}

/**************************/
/***                    ***/
/**        HEADER        **/
/***                    ***/
/**************************/

.header {
  background-color: var(--basic-grey);
}

.header__wrapper {
  display: grid;
  grid-template-columns: 1fr min-content;
  width: 1160px;
  margin: 0 auto;
  padding: 49px 20px 0;
}

.header__nav {
  display: grid;
  grid-template-columns: min-content 1fr;
}

.header__menu {
  margin: 0;
  padding: 0;
  padding-top: 26px;

  list-style: none;
}

.header__user-nav {
  margin: 0;
  padding: 0;
  padding-top: 26px;

  list-style: none;
}

.header__link {
  font-weight: 500;
  line-height: 30px;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.header__link:hover {
  color: var(--basic-red);
}

.header__link:active {
  color: var(--basic-black-opacity-30);
}

.header__link--current {
  border-bottom: solid 2px var(--basic-red);
}

.header__link--current:hover {
  color: inherit;
}

.header__link--current:active {
  color: inherit;
}

.header__logo {
  margin: 0;
  padding: 0;
}

/**************************/
/***                    ***/
/**        PROMO         **/
/***                    ***/
/**************************/

.promo {
  background-color: var(--basic-grey);
}

.promo__wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 80px 0;
}

.promo__slider {
  margin: 0;
  padding: 0;

  list-style: none;
}

.promo__pagination {
  margin: 0;
  padding: 0;

  list-style: none;
}

.promo__headline {
  width: 540px;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;

  font-size: 55px;
  font-weight: 500;
  line-height: 1;
}

.promo__description {
  width: 430px;
  margin: 0;
  margin-bottom: 38px;
  padding: 0;

  color: var(--basic-black-light);
}

.promo__more {
  min-width: 240px;
  max-width: 300px;
}

/**************************/
/***                    ***/
/**       SERVICES       **/
/***                    ***/
/**************************/

.services {
  width: 1160px;
  margin: 0 auto;
  padding: 80px 0;

  background-color: var(--basic-white);
}

.services__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 0;
  padding: 0;
  padding-right: 60px;

  list-style: none;
}

.services__caption {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.services__description {
  width: 260px;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;

  color: var(--basic-black-light);
}

.services__order {
  min-width: 160px;
  max-width: 260px;
}

/**************************/
/***                    ***/
/**        ABOUT         **/
/***                    ***/
/**************************/

.about {
  background-color: var(--basic-white);
}

.about__headline {
  font-size: 45px;
  font-weight: 500;
  line-height: 1;
}

.about__description {
  color: var(--basic-black-light);
}

.about__list-title {
  font-weight: 700;
  color: var(--basic-black-light);
  text-transform: uppercase;
}

.about__list {
  margin: 0;
  padding: 0;

  color: var(--basic-black-light);
  list-style: none;
}

.about__features {
  font-weight: 700;
  text-transform: uppercase;
}

.about__property {
  line-height: 18px;
  color: var(--basic-black-light);
}

.about__value {
  margin: 0;

  font-size: 45px;
  font-weight: 700;
  line-height: 64px;
}

.about__percentage {
  font-size: 26px;
  line-height: 40px;
}

/**************************/
/***                    ***/
/**       PARTNERS       **/
/***                    ***/
/**************************/

.partners {
  background-color: var(--basic-white);
}

.partners__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

/**************************/
/***                    ***/
/**       CONTACTS       **/
/***                    ***/
/**************************/

.contacts {
  background-color: var(--basic-white);
}

.contacts__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts__address {
  font-style: normal;
  line-height: 18px;
  color: var(--special-grey-dark);
}

.contacts__phone {
  color: inherit;
  text-decoration: none;
}

/**************************/
/***                    ***/
/**       SOCIALS        **/
/***                    ***/
/**************************/

.socials__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.socials__tagline {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.socials__discount {
  line-height: 22px;
}

/**************************/
/***                    ***/
/**         SORT         **/
/***                    ***/
/**************************/

.sort {
  text-transform: uppercase;

  background-color: var(--basic-white);
}

.sort__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.sort__by {
  margin: 0;
  padding: 0;

  list-style: none;
}
.sort__direction {
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort__by-link {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black-opacity-30);
  text-decoration: none;
}

.sort__by-link:hover {
  color: var(--basic-black-opacity-60);
}

.sort__by-link:active {
  color: inherit;
}

.sort__by-link--current {
  color: inherit;
}

.sort__by-link--current:hover {
  color: inherit;
}

/**************************/
/***                    ***/
/**       TEMPLATES      **/
/***                    ***/
/**************************/

.templates {
  background-color: var(--basic-white);
}

.templates__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

/**************************/
/***                    ***/
/**         CARD         **/
/***                    ***/
/**************************/

.card {
  text-align: center;

  background-color: var(--basic-grey);
}

.card__title-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
}

.card__title-link:hover {
  color: var(--basic-red);
}

.card__title-link:active {
  color: var(--basic-black-opacity-30);
}

.card__title {
  font-size: inherit;
}

.card__description {
  line-height: 18px;
  color: var(--special-grey-dark);
}

/**************************/
/***                    ***/
/**      PAGINATION      **/
/***                    ***/
/**************************/

.pagination__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

/**************************/
/***                    ***/
/**       NOT-FOUND      **/
/***                    ***/
/**************************/

.not-found {
  background-color: var(--basic-white);
  text-align: center;
}

.not-found__title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.not-found__description {
  font-size: 18px;
  color: var(--basic-black-light);
}

/**************************/
/***                    ***/
/**        MODAL         **/
/***                    ***/
/**************************/

.modal {
  background-color: var(--basic-white);
}

.modal__title {
  font-size: 45px;
  font-weight: 700;
  line-height: 53px;
}
